*{
    margin: 0;
    padding: 0;
}



#header{
    background-color: #428390;
    height: 92px;
    position: relative;
}

.header-title{
    margin: 0 16px;
    line-height: 92px;
    font-size: 18px;
}

.header-title a{
color: #fff;
text-decoration: none;
}

.menu {
    width: 100px;
    height: 100%;
    background: #3B4552;
    position: absolute;
    top: 0;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: none;
    }

    .menu svg {
    width: 50px;
    }

@media(min-width:680px){

    .gnav{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        font-size: 14px;
    }

    .gnav-item{
        list-style-type: none;
        line-height: 92px;
    }

    .gnav-item a{
        padding: 0 16px;
        color: #fff;
        text-decoration: none;
        display: block;
        transition: all 0.1s ease-in;
    }

    .gnav-item a:hover{
        background-color: rgba(255,255,255,0.1);
    }
}

@media(max-width:680px){
    .menu{
        display: flex;
    }

    .gnav{
        display:none;
    }

    .gnav:hover,
    .menu:hover + .gnav{
        display: block;
    }

    .gnav{
        padding: 16px;
        background: #3B4552;
    }

    .gnav-item{
        list-style-type: none;
    }

    .gnav-item a{
        padding: 8px;
        color: #fff;
        font-size: 14px;
        display: block;
        text-decoration: none;
        transition: back-ground-color 0.2s ease-in;
    }

    .gnav-item a:hover{
        background-color: rgb(255,255,255,0.1);
    }

    .gnav-item a:before {
        margin-right: 8px;
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(-45deg);
        position: relative;
        top: -2px;
        }
}

.main-head{
    background: #41Baa0;
    height: 500px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-title{
    margin: 16px;
    font-size: 40px;
    font-weight: normal;
}

.site-description{
    padding: 0 16px;
    font-size: 14px;
    line-height: 2;
    max-width: 620px;
    margin: 0 auto;
}

.entry-title{
    font-size: 24px;
    font-weight: normal;
    padding: 16px 0 ;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.entry{
    background-color: #fff;

}

.entries{
    margin:32px auto 40px;
    display: flex;
    max-width: 1200px;
}

.entry-item{
    margin: 0 10px;
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
}

@media(max-width:680px){
    .entries{
        display: block;
    }

    .entry-title{
        padding: 8px;
    }

    .entry-item{
        width: auto;
        margin-bottom: 16px;
        border: 1px solid #eee;
    }
}

.entry-item-img img{
    width: 100%;
    display: block;
}

.entry-item-category{
    margin: 8px 0;
}

.entry-item-category a{
    background-color: #47b39d;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
}

.entry-item-title a{
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

.contents-title{
    padding: 40px;
    font-size: 24px;
    background-color: #556;
    color: #fff;
    text-align: center;
    font-weight: normal;
    position:relative;
    z-index: 1;
}

.contents-title:after{
    content: '';
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 20px solid #556;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}

.contents-title span{
    font-size: 13px;
    display: block;
}

.contents-item{
    padding: 0 32px;
    height: 440px;
    position:relative;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.contents-item:nth-child(odd){ /*奇数*/
    padding-right: 693px;
}

.contents-item:nth-child(even){ /*偶数*/
    padding-left: 693px;
    background-color: #fafafa;
}

.contents-item-title-num{
    padding-top: 40px;
    margin-bottom: 40px;
    display: block;
    width: 32px;
    text-align: center;
    background-color: #47b39d;
    color: #fff;
    font-size: 20px;
}

.contents-item-title{
    margin-bottom: 24px;
    color: #47b39d;
    font-size: 36px;
    font-weight: normal;
}

.contents-item-txt{
    font-size: 14px;
    margin-bottom: 24px;
}

.contents-item-title-en{
    font-size: 14px;
    display:block;
}

.aho{
    position: absolute;
    top: 0px;
    right: 0px;
}

.aho img{
    width: 661px;
}

.contents-item:nth-child(even) .aho{
    left: 0px;
}

@media(max-width:680px){

    .contents-item{
        height: auto;
    }

    .contents-item:nth-child(even){
        padding: 0;
    }

    .contents-item:nth-child(odd){
        padding: 0;
    }

    .contents-item-title{
        text-align: center;
    }

    .contents-item-title-num{
        margin: 0 auto 24px;
    }

    .aho{
        margin: 16px;
        position: static;
    }

    .aho img{
        width: 100%;
    }

    .contents-item-txt{
        margin: 16px;
    }

    .contents-item .button{
        margin: 0 16px;
    }

    .contents-item .button a{
        width: auto;
        margin: 16px auto;
    }
}

.button{
    border-radius: 4px;
}

.button a{
    padding: 12px;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.orange{
    background-color:#ff6c00;
}

.blue a{
    background-color: #47b39d;
}

.services{
    display: flex;
}

.service{
    width: 50%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service:first-child{
    border-right: 1px solid #ccc;
}

.service-title{
    margin-bottom: 16px;
    color: #47b39d;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

.service-title-en{
    font-size: 14px;
    display: block;
}

@media(max-width:680px){

    .services{
        display: block;
    }

    .service{
        margin: auto;
    }

    .service:first-child{
        border-right: 0;
    }
}

.table{
    width: 50%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}

.table-label {
    padding: 16px;
    width: 120px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.table-label:first-child{
    border-top: 2px solid #47B39d;
}

.table-value{
    padding: 16px;
    width: calc(100% - 120px);
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

@media(max-width:680px){
 .campany-container{
     flex-direction: column-reverse;
 }
 .campany-map {
     max-width: 100%;
    }
    .table{
        margin: 24px 16px;
        width: auto;
    }
}

.inquiry{
    background-color: #47B39d;
}

.form-out{
    padding: 60px 0;
    text-align: center;
}

.contents-form{
    width: 100%;
    max-width: 590px;
    margin: 0px auto;
}

.contents-form-txt{
    margin: 32px 0 8px 0;
    font-size: 16px;
    color: #fff;
}

.contents-form-txtbox input{
    width: 100%;
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
}

.contents-form-txtbox textarea{
    width: 100%;
    width: auto;
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
}

.black{
    width: 200px;
    margin: 16px auto;
    background-color:#131d2a;
}

.footer{
    padding: 0 16px;
    color: #fff;
    background-color: #031731;
}

.footer-title{
    font-size: 24px;
    padding: 40px 0 20px 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    border-bottom: 1px solid #3b4552;
}

.footer-list{
    margin: 32px auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
}

@media(max-width:680px){
    .footer-list{
        display: block;
    }
}

.footer-list-item{
    margin-right: 32px;
    font-style: 14px;
}

.footer-list-title{
    padding: 8px 0;
}

.footer-list-link{
    margin: 16px 0;
}

.footer-list-link a{
    color: #fff;
    text-decoration: none;
    transition: opacity 0.1s ease-in;
}

.footer-list-link a::before{
    margin-right: 8px;
    content: '';
    display: inline-block;
    width: 1px;
    height: 1px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    position: relative;
}

.footer-list-link a:hover{
    opacity: 0.7;
}

.copyright{
    font-size: 14px;
    padding: 24px 0;
    text-align: center;
    background-color: rgb(26, 34, 46);
}
